@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$bodyFont : 'Poppins';

//colors variables

$whiteColor : white;
$blackColor : black;

//Header colors
$headerBg : #0088CC;

//Main colors
$jumbotronBg : #D6D6D6;
$linkSlideBg : #0A0C0D;

//Footer colors
$upperFooterBg : #212529;
$downerFooterBg : #666666;
$downerFooterText : #555555;