//Font import links

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

$bodyFont : 'Poppins';
$getInTouchBoxFont : 'Shadows Into Light';

//Colors variables

$whiteColor : white;
$blackColor : black;

//Header colors
$headerBg : #0088CC;

//Main colors
$jumbotronBg : #D6D6D6;
$linkSlideBg : #0A0C0D;
$dateFont : #B7B7B7;
$dateCalendar : #F7F7F7;
$postContentFont : #888888;

//Footer colors
$downerFooterBg : #1C2023;
$upperFooterBg : #212529;
$downerFooterText : #555555;